@model IEnumerable<VNScience.ViewModels.UserViewModel>
@using VNScience.Common;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row">
        <!-- form input mask -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quản lý người dùng <small><i class="fa fa-plus-square-o"></i> @Html.ActionLink("Thêm người dùng", "Create")</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 60px;">Avatar</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>@Html.DisplayNameFor(model => model.Roles)</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 60px;"><img src="@(string.IsNullOrEmpty(item.Avatar)?Constants.AvatarPlaceholderUrl:item.Avatar)" alt="@item.UserName" /></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @foreach (var role in item.Roles)
                                    {
                                        <span class="label label-success" style="margin-right: 5px;">@role</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "js-delete", @data_id = item.Id })|
                                    @Html.ActionLink("Đổi mật khẩu", "ChangePassword", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
        <!-- /form input mask -->
    </div>
</div>

@section scripts {
    <script>
        $('.js-delete').on('click', function (e) {
            e.preventDefault();

            var button = $(this);
            bootbox.confirm("Xóa người dùng này?", function (result) {
                if (!result)
                    return;

                button.closest('tr').remove();
                $.ajax({
                    url: '/Admin/Account/Delete/' + button.attr('data-id'),
                    type: 'post',
                    success: function (res) {
                       new PNotify({
                            title: 'Thông báo',
                            text: 'Đã xóa thành công người dùng',
                            type: 'success',
                            styling: 'bootstrap3',
                            animate: {
                                animate: true,
                                in_class: 'slideInDown',
                                out_class: 'slideOutUp'
                            },
                            delay: 2500
                        });
                    }, 
                    error: function (err) {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Có lỗi xảy ra, vui lòng thử lại sau',
                            type: 'error',
                            styling: 'bootstrap3',
                            animate: {
                                animate: true,
                                in_class: 'slideInDown',
                                out_class: 'slideOutUp'
                            },
                            delay: 2500
                        });
                    }
                });
            })
        });
    </script>
}

