@model VNScience.ViewModels.PostViewModel
@using VNScience.Common
@using VNScience.ViewModels

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var relatedPosts = (List<PostViewModel>)ViewBag.RelatedPosts;
    var searchString = ViewBag.SearchString != null ? ViewBag.SearchString : "";

    string[] searchParts = new string[0];
    if (!string.IsNullOrEmpty(searchString))
    {
        searchParts = searchString.Split(' ');
    }

    var title = Model.Title;
    foreach (var item in searchParts)
    {
        title = title.Replace(item, "<b class=\"highlight\">" + item + "</b>");
    }
}


<div class="col-md-12 col-lg-8">
    <img src="@Model.CoverImage" alt="">
    <h3 class="mt-30"><b>@Html.Raw(title)</b></h3>
    <ul class="list-li-mr-20 mtb-15">
        <li>by <b>@Model.CreatingUser.FullName</b> @DateTimeHelper.FormatDate(Model.CreatedAt.Value)</li>
        <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>@Model.ViewCount</li>
        <li><a href="/danh-muc-tin/@Model.PostCategory.MetaTitle-@Model.PostCategory.Id"><i class="ion-ios-folder"></i> @Model.PostCategory.Name</a></li>
        @*<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>30</li>*@
    </ul>

    <div class="content-container mb-30">
        @Html.Raw(Model.Content)
    </div>

    @if (Model.Tags.Count > 0)
    {
        <div class="float-left-right text-center mt-40 mt-sm-20 mb-30">

            <ul class="mb-30 list-li-mt-10 list-li-mr-5 list-a-plr-15 list-a-ptb-7 list-a-bg-grey list-a-br-2 list-a-hvr-primary ">
                @foreach (var tag in Model.Tags)
                {
                    <li><a href="/tags/@tag.Id">@tag.Name.ToUpper()</a></li>
                }
            </ul>
            <ul>
                <li></li>
            </ul>

        </div><!-- float-left-right -->
        <div class="brdr-ash-1 opacty-5"></div>
    }

    <div class="fb-comments" data-href="http://localhost:62234/tin-tuc/@Model.MetaTitle-@Model.Id" data-width="100%" data-numposts="5"></div>


    <h4 class="p-title mt-50"><b>CÓ THỂ BẠN QUAN TÂM</b></h4>
    <div class="row">
        @foreach (var post in relatedPosts)
        {
            <div class="col-sm-6">
                <img src="@post.CoverImage" alt="">
                <h4 class="pt-20"><a href="/tin-tuc/@post.MetaTitle-@post.Id"><b>@post.Title</b></a></h4>
                <ul class="list-li-mr-20 pt-10 mb-30">
                    <li class="color-lite-black">
                        by <a href="#" class="color-black"><b>@post.CreatingUser.FullName;,</b></a>
                        @DateTimeHelper.FormatDate(post.CreatedAt.Value)
                    </li>
                    <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>@post.ViewCount</li>
                    @*<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>*@
                </ul>
            </div><!-- col-sm-6 -->
        }
    </div><!-- row -->

</div>

@section topcenter_ad {
    @{
        Html.RenderAction("TopCenter", "Common");
    }
}

@section scripts {
    @*<script src="~/Assets/imakewebthings-waypoints-34d9f6d/lib/jquery.waypoints.min.js"></script>*@
    <script>
        $(function () {
             $.ajax({
                    url: '/Post/IncreaseViewCount/@Model.Id',
                    type: 'post',
                    success: function (res) {

                    }
            });


            var searchString = '@ViewBag.SearchString';
            if (searchString !== '' && searchString !== null) {
                var searchParts = searchString.split(' ')
                $('.content-container').find('p').each(function (index, value) {
                    for (var i = 0; i < searchParts.length; i++) {
                        value.innerHTML = value.innerHTML.replace(new RegExp(searchParts[i], 'g'), "<b class='highlight'>" + searchParts[i] + "</b> ");
                    }
                });
            }
        });
    </script>
}

