
@model VNScience.Common.MySelectList

<select class="form-control" name="@Model.FormElementName">
    @foreach (var item in Model.Items)
    {
        if (Model.SelectedItems.Contains(item.Id))
        {
            <option value="@item.Id" selected>@item.Name</option>
        }
        else
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>