@using VNScience.Models.Core
@using VNScience.ViewModels
@using VNScience.Common
@{
    var bottomMenus = (List<Menu>)ViewBag.BottomMenus;
    var socialLinks = (SystemInfoViewModel)ViewBag.SocialLinks;
    var contactInfo = (SystemInfoViewModel)ViewBag.ContactInfo;
    var mostViews = (List<Post>)ViewBag.MostViews;
    var recents = (List<Post>)ViewBag.Recents;
}
<footer class="bg-191 color-ccc">

    <div class="container">
        <div class="pt-50 pb-20 pos-relative">
            <div class="abs-tblr pt-50 z--1 text-center">
                <div class="h-80 pos-relative"><img class="opacty-1 h-100 w-auto" src="images/map.png" alt=""></div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="mb-30">
                        <h5 class="mb-20 color-primary"><b>@contactInfo.CompanyFullName.ToUpper()</b></h5>
                        <p class="mb-10 color-ash"><i class="ion-ios-location mr-10"></i> Trụ sở chính: @contactInfo.Headquater</p>
                        <p class="mb-10 color-ash"><i class="ion-android-phone-portrait mr-10"></i> Hotline: @contactInfo.Hotline</p>
                        <p class="mb-10 color-ash"><i class="ion-android-mail mr-10"></i> Email: @contactInfo.Email</p>
                        <p class="mb-10 color-ash"><i class="ion-android-globe mr-10"></i> Website: @contactInfo.Website</p>
                    </div><!-- mb-30 -->
                </div><!-- col-md-4 -->

                <div class="col-sm-4">
                    <div class="mb-30">
                        <h5 class="color-primary mb-20"><b>XEM NHIỀU</b></h5>
                        @foreach (var item in mostViews)
                        {
                            <div class="mb-20">
                                <a class="color-white" href="/tin-tuc/@item.MetaTitle-@item.Id"><b>@item.Title</b></a>
                                <h6 class="mt-10">
                                    <span class="mr-10"><i class="fa fa-clock"></i>@DateTimeHelper.FormatDate(item.CreatedAt.Value)</span>
                                    <i class="fa fa-folder-o"></i> @item.PostCategory.Name
                                </h6>
                            </div>
                        }
                    </div><!-- mb-30 -->
                </div><!-- col-md-4 -->

                <div class="col-sm-4">
                    <div class="mb-30">
                        <h5 class="color-primary mb-20"><b>MỚI CẬP NHẬT</b></h5>
                        @foreach (var item in recents)
                        {
                            <div class="mb-20">
                                <a class="color-white" href="/tin-tuc/@item.MetaTitle-@item.Id"><b>@item.Title</b></a>
                                <h6 class="mt-10">
                                    <span class="mr-10"><i class="fa fa-clock"></i>@DateTimeHelper.FormatDate(item.CreatedAt.Value)</span>
                                    <i class="fa fa-folder-o"></i> @item.PostCategory.Name
                                </h6>
                            </div>
                        }
                    </div><!-- mb-30 -->
                </div><!-- col-md-4 -->

            </div><!-- row -->
        </div><!-- ptb-50 -->

        <div class="brdr-ash-1 opacty-2"></div>

        <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

            <ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
                @foreach (var item in bottomMenus)
                {
                    <li><a href="@item.Link" target="@item.Target">@item.Title</a></li>
                }
            </ul>
            <ul class="float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5 text-right">
                <li><a class="pl-0 pl-sm-10" href="@socialLinks.Facebook"><i class="ion-social-facebook"></i></a></li>
                <li><a class="pl-0 pl-sm-10" href="@socialLinks.Youtube"><i class="ion-social-youtube"></i></a></li>
                <li><a class="pl-0 pl-sm-10" href="@socialLinks.Linkedin"><i class="ion-social-linkedin"></i></a></li>
                <li>© @DateTime.Now.Year @ViewBag.Brand. All Rights Reserved.</li>
            </ul>
            <div>

            </div>

        </div><!-- oflow-hidden -->
    </div><!-- container -->
</footer>