@using VNScience.Models.Core
<header>
    <div class="bg-191">
        <div class="container">
            <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

                <ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
                    @foreach (var item in (List<Menu>)ViewBag.TopMenus)
                    {
                        <li><a href="@item.Link" target="@item.Target">@item.Title</a></li>
                    }
                </ul>
                <ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
                    <li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-google"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="#"><i class="ion-social-bitcoin"></i></a></li>
                </ul>

            </div><!-- top-menu -->
        </div><!-- container -->
    </div><!-- bg-191 -->

    <div class="container">
        <a class="logo" href="/"><img src="@ViewBag.Logo" alt="Logo"></a>

        <a class="right-area src-btn" href="#">
            <i class="active src-icn ion-search"></i>
            <i class="close-icn ion-close"></i>
        </a>
        <div class="src-form">
            <form action="/Post/Search/" method="get">
                <input type="text" name="searchString" placeholder="Nhập tiêu đề, danh mục, tag, ...">
                <button type="submit"><i class="ion-search"></i></a></button>
            </form>
        </div><!-- src-form -->

        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

        <ul class="main-menu" id="main-menu">
            @foreach (var item in (List<PostCategory>)ViewBag.Categories)
            {
                <li><a href="/danh-muc-tin/@item.MetaTitle-@item.Id">@item.Name.ToUpper()</a></li>
            }
        </ul>
        <div class="clearfix"></div>
    </div><!-- container -->
</header>

