@using VNScience.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- top tiles -->
<div class="row tile_count">
    @if (Roles.IsUserInRole(RoleName.Admin))
    {
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-newspaper-o"></i> Bài đăng chờ duyệt</span>
            <div class="count">@ViewBag.RequestsToApproveCount</div>
            <span class="count_bottom">Bài đăng</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-trash-o"></i> Yêu cầu xóa bài</span>
            <div class="count">@ViewBag.RequestsToDeleteCount</div>
            <span class="count_bottom">Bài viết</span>
        </div>
    }
    @if (Roles.IsUserInRole(RoleName.PostMod))
    {
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Tổng số bài đã đăng</span>
            <div class="count green">@ViewBag.PostsByUser</div>
            <span class="count_bottom">Bài viết</span>
        </div>
    }
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Quản trị viên</span>
        <div class="count green">@ViewBag.UserCount</div>
        <span class="count_bottom">Người</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Tổng số bài viết</span>
        <div class="count">@ViewBag.PostsCount</div>
        <span class="count_bottom">Bài viết</span>
    </div>
</div>
<!-- /top tiles -->
