@model VNScience.Models.Core.ProductCategory
@using VNScience.Common
@using VNScience.Models.Core
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var otherCategories = (IEnumerable<IGrouping<ProductCategory, ProductCategory>>)ViewBag.OtherCategories;
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Thêm danh mục giải pháp</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="CoverImage" class="form-control" />
                        @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@if (otherCategories.Count() > 0)
                        {
                            <div class="form-group">
                                <table class="table table-bordered" style="margin-bottom: 0">
                                    @foreach (var category in otherCategories)
                                    {
                                        <tr>
                                            <td>@category.Key.Name (@category.Key.DisplayOrder)</td>
                                            @foreach (var child in category)
                                            {
                                                <td>@child.Name (@child.DisplayOrder)</td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        }*@
                        @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{
                            Html.RenderAction("Select", "Common", (MySelectList)ViewBag.Parents);
                        }
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-success" />
                        @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

